// display: flex
@mixin displayFlex() {
  display: -webkit-box; /* Safari, iOS 6 и ранних версиях; Android, старых WebKit */
  display: -moz-box; /*  Firefox (может и глючить) */
  display: -ms-flexbox; /*  IE 10 */
  display: -webkit-flex; /* Chrome 21+ */
  display: flex; /* Opera 12.1+, Firefox 22+ */
}

// flex direction
@mixin flexDirection($item) {
  -webkit-flex-direction: $item;
  -ms-flex-direction: $item;
  flex-direction: $item;
}

// user select
@mixin unselectable() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

// transition
@mixin transition($time) {
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}

// flex center
@mixin flexContentCenter() {
  justify-content: center;
  align-items: center;
}

// box shadow
@mixin boxShadow() {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
}
